doctype html
html(lang="en",ng-app="app",ng-controller="Ctrl",ng-cloak)
    head
        title {{ title }}
        meta(name="viewport",content="width=device-width,user-scalable=no")
        meta(http-equiv="Content-Type",content="text/html",charset="utf-8")
