doctype html
html(lang="en",ng-app="app")
    head
        title 朋友圈
        meta(name="viewport",content="width=device-width,user-scalable=no")
        meta(http-equiv="Content-Type",content="text/html",charset="utf-8")
